@import 'tailwindcss';

@theme {
  --color-primary: #ffffff;
  --color-secondary: #303845;
}

:root {
  --color-primary: #ffffff;
  --color-secondary: #303845;
}

body {
  font-family: 'Outfit', sans-serif;
}

.container {
  @apply w-[90%] mx-auto;
}

#bg-login {
  background-image: url(../../../../public/wallpaper-login.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* TOASTIFY CUSTOM FONT FAMILY */
.toastify-custom-styles {
  font-family: 'Outfit', sans-serif;
}

/* UPDATE FORM STYLES */
div.update-form {
  overflow: hidden;
  transition:
    max-height 0.3s ease-in-out,
    opacity 0.2s ease-in-out;
}

div.update-form label {
  @apply block w-max pb-2 text-neutral-700 cursor-pointer;
}

div.update-form input,
select,
textarea {
  @apply w-full py-3 px-5 rounded-md border border-gray-400 outline-none duration-150;
  @apply hover:border-secondary focus:border-secondary focus:shadow-md;
}

.datepicker {
  width: 100% !important;
}

/* BTNS CONFIRM DIALOG */
button.btn-confirm {
  @apply p-3 flex items-center rounded bg-secondary text-white shadow-sm last:mr-0 cursor-pointer hover:bg-secondary/90 duration-150;
}

/* MODALS */

.ReactModal__Overlay {
  opacity: 0;
  transition: all 200ms ease !important;
}

.ReactModalPortal > div {
  opacity: 0;
  transition: all 200ms ease !important;
}

.ReactModalPortal .ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease;
  z-index: 999;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.7);
  /* backdrop-filter: blur(1px); */
  width: 100%;
  height: 100vh;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
}

.modal {
  @apply overflow-y-auto outline-none rounded-lg shadow-lg text-neutral-800 bg-white;
}

/* PAGE STYLES */
article.page {
  position: relative;
  width: 210mm;
  height: 297mm;
  padding: 1.875rem; /* 30px */
  background: #fff;
  color: #171717;
  font-size: 12px;
  overflow-y: hidden;
}

article.page section div.grid-item {
  @apply w-full text-[14px] font-medium border-b-2 border-secondary;
}

table thead tr.report-tr th,
table tbody tr.report-tr td {
  @apply p-1 border-x border-b border-secondary;
}

table thead tr.report-tr th {
  @apply text-[12px] font-medium;
}

table tbody tr.report-tr:last-child td {
  @apply pb-[425px];
}

p.signature {
  @apply flex items-end text-[14px] mb-8;
}

p span.line {
  @apply inline-block w-full h-[1px] ml-1 border-b border-neutral-900;
}

p.signature-label {
  @apply text-[14px];
}

small.signature-rol {
  @apply font-semibold text-[12.5px];
}

/* BUTTONS */
button.btn {
  @apply py-3;
}

/* PAGINATION */
button.btn-pagination {
  @apply p-2 border rounded border-secondary/85 bg-secondary/90 shadow
  disabled:cursor-not-allowed disabled:opacity-50 duration-150 hover:bg-secondary/80 cursor-pointer;
}

/* HANDLE CONFIRM DIV STYLES */
div.confirm-alert-wrapper {
  @apply p-20 rounded bg-white border border-gray-200 shadow-md;
}

div.confirm-alert-wrapper h2 {
  @apply font-semibold text-3xl text-secondary;
}

div.confirm-alert-wrapper p {
  @apply text-gray-600 mb-5;
}

/* CONSOLIDADO TABLE */
section.consolidado-table {
  @apply w-full;
}

section.consolidado-table table {
  @apply w-full border border-black text-center;
}

section.consolidado-table table thead tr th {
  @apply p-2 border-x border-black uppercase;
}

section.consolidado-table table tbody tr td {
  @apply p-1 border-b border-x border-black uppercase;
}

/* SEARCH MODAL INPUT */
input.search-modal-input {
  @apply w-full py-3 px-5 outline-none rounded shadow-md bg-white border border-gray-300 duration-150 focus:border-gray-400 hover:border-gray-400;
}

/* NAVBAR BUTTON */
button.button_class {
  @apply flex items-center p-3 rounded-md border border-neutral-200 text-slate-500 duration-150 hover:bg-secondary hover:text-white shadow;
}

/* ADMIN PANEL */
div.admin-panel-wrapper {
  @apply h-[500px] max-h-[800px] p-12 rounded-4xl border border-gray-300 shadow-xl bg-white;
}

div.config-option {
  @apply flex justify-between items-center;
}

/* REACT TOOLTIP CLASSES */
button.user-option-btn {
  @apply w-full flex justify-center items-center py-2 px-5 rounded border text-secondary border-gray-300 duration-150 hover:border-gray-400 cursor-pointer;
}

/* ADMIN CONFIG SELECT */
select.admin-select,
::picker(select) {
  appearance: base-select;
}

::picker(select) {
  @apply my-1 p-2 rounded-xl shadow-md border border-gray-300;
}

select.admin-select::picker-icon {
  @apply text-secondary duration-150 transition-transform ease-out;
}

select.admin-select:open::picker-icon {
  transform: rotate(180deg);
}

select.admin-select option {
  @apply my-1 p-1 rounded hover:bg-gray-200;
}

select.admin-select option {
  @apply checked:bg-secondary checked:text-white checked:hover:bg-secondary/90;
}

/* AGENDA */
button.agenda-btn-nav {
  @apply flex flex-col p-3 text-lg font-medium text-gray-500 border-b-2 border-gray-300 hover:text-secondary duration-150 cursor-pointer;
}

button.agenda-btn-sidebar {
  @apply w-full flex items-center gap-x-3 p-5 text-lg rounded-s border-r-2 border-transparent duration-150 hover:bg-gray-200 hover:border-secondary cursor-pointer;
}

.modal-booking {
  @apply w-[80%] max-h-[500px] h-[500px] absolute bottom-0 !rounded-t-xl !rounded-b-none overflow-y-auto;
}

input.modal-input,
select.modal-input,
textarea.modal-input {
  @apply w-full p-3 px-5 rounded bg-gray-200/20 border border-gray-300 outline-none duration-150 hover:border-gray-400 focus:border-gray-400 focus:shadow;
}

/* SKELETONS */
.skeleton-title {
  @apply !w-[120px];
}

.skeleton-p {
  @apply !w-[260px];
}

.skeleton-btn {
  @apply !w-[200px] !h-[40px];
}

.skeleton-icon {
  @apply !w-[50px] !h-[50px];
}

/* PAGINATION GRID BUTTONS */
.pagination-observation-btn {
  @apply py-3 px-6 rounded shadow-lg border border-gray-300 bg-white cursor-pointer text-secondary hover:border-gray-400 disabled:opacity-50 disabled:cursor-not-allowed;
}
