@import 'tailwindcss';

@theme {
  --color-primary: #ffffff;
  --color-secondary: #303845;
}

:root {
  --color-primary: #ffffff;
  --color-secondary: #303845;
}

body {
  font-family: 'Outfit', sans-serif;
}

.container {
  @apply w-[90%] mx-auto;
}

#bg-login {
  background-image: url(../../../../public/wallpaper-login.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* TOASTIFY CUSTOM FONT FAMILY */
.toastify-custom-styles {
  font-family: 'Outfit', sans-serif;
}
